:root {
    --fontcolor1: #696969;
    --fontcolor2: #2E2E2E;
    --fontcolor3: #fff;
    --maincolor1: #f5e9dc;
    --maincolor2: #e4c4a1;
  }
  
  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  html {
    font-size: 16px;
    color: var(--fontcolor2);
  }
  
  body {
    /* border: 3px solid black; */
    background: linear-gradient(var(--maincolor1) 60%, var(--maincolor2) 100%); 
    
  }
  

  
  /* .playfair-display-<uniquifier> {
    font-family: "Playfair Display", Helvetica;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  } */
  
  @media (max-width: 420px) {
  
    .welcome-section h1 {
    font-size: 4em;
  }
  
  .projects-section > h2 {
    font-size: 2em;
  }
  
  .social-icons {
    font-size: 2em;
  }
  
  .contact h2 {
    font-size: 1.5em;
  }
  
  .logo {
    width: 50px;
    height: 50px;  
  }
  }
  
  
  #navbar .navlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    width: 45%;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    gap: 20px;
    left: 50vw;
    top: 1vh;
  }
  
  .logo {
    width: 50px;
    height: 60px;
    object-fit: cover;
    position: fixed;
    top: 2vh;
    left: 3vw;
    border: 1px solid var(--fontcolor2);
  }
  
  .navlist {
    list-style: none;
    font-weight: 600;
  }
  
  .welcome-section {
    display: flex;
    flex-direction: column;
  }
  
  .intro-section {
  margin: 100px auto 20px auto;
  width: 80%;
  }

  .intro-section h1 {
    font-size: 7em
  }

  .intro-section p {
    margin-top: -80px;
    margin-bottom: 150px;
  }

  .intro-section h2 {
    margin-bottom: -100px;
  }

  .about-section {
    display: block;
    width: 80%;
    margin: 250px auto;
    line-height: 1.5;
    font-size: 1.3em;
  }

  .about-section h2 {
    width: 100%;
    margin-bottom: 20px;
  }

  .about-section p {
    width: 100%;
    margin-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
    }
  
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 3rem;
    row-gap: 2rem;
    column-gap: 3rem;
    width: 80%;
    max-width: 1280px;
    border-radius: 20px;
    margin: auto;
  }
  
  .project-tile {
      height: 100%;
      width:100%;
      object-fit: cover; 
      border: 1px solid black;
      /* background-color: var(--maincolor2); */
      border-radius: 20px;
      
  }
  
  img:not(.logo) {
    display: block;
    overflow-clip-margin: content-box;
      overflow: clip;
      padding: 50px;
  }
  
  .projects-section > h2 {
    font-size: 4em;
    text-align: center;
    margin: 50px auto 200px;
    width: 80%;
  }
  
  p:not(.job-title, .coded-by, .about-section p) {
    display: block;
    text-align: center;
    margin-top: -40px;
    font-size: 20px;
  }
  
  a {
    color: var(--fontcolor2);
    text-decoration: none;
  }
  
  a:hover {
   color: var(--fontcolor3);
   cursor: pointer;
  }
  

  .final-info {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .social-icons {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    width: 200px;
    gap: 20px;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
  }
  
  .contact {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
  }
  
  .contact ul li {
    list-style: none;
    margin-left: -40px;
  }
  
  .contact h2 {
    font-size: 3em;
    margin-bottom: 20px;
    letter-spacing: 0.1rem;
    width: 100%;
  }
  
  footer {
    margin: 30px;
    text-align: right;
  }
  
  /* @media only screen and (max-width: 720px) {
    .image-wrapper {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .text-with-images {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .hero-title {
      font-size: 6rem;
    } */
  